* {
	font-variant: petite-caps;
	font-family: Roboto !important;
	font-weight: 300 !important;
}

body {
	height: 100vh;
	margin: 0;
}

h2 {
	font-size: 2rem;
}

.text-center {
	text-align: center!important;
}

#app-container{
	height: 100%;
	width: 100%;
	flex-direction: column;
	display: flex;
}

.card {
	display: -ms-flexbox;
	display: inline-block;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 3px;
	margin-left: 15px;
	margin-top: 15px;
	width: 320px;
}
.card img {
	width: 318px;
	height: auto;
}
.card ul {
	margin-bottom: 0px;
	position: fixed;
}

.card-disabled {
	filter: grayscale(100%);
	background: rgba(0,0,0,0.1);
	transition: 1s all;
}

.top-banner {
	background: #1b1c1d;
	padding: 15px;
	border-bottom: 2px solid #FF4500;
}

.top-banner h2 {
	margin: 0px;
	color: #fff;
}

.content-container {
	display: flex;
	flex: 1 0 auto;
}

@media (max-width: 575px) {
	.content-container {
		flex-direction: column;
	}

    .row {
        flex-direction: column;
    }
}

.logo {
	height: 16px;
	vertical-align: top;
}

.device-list {
	flex: 4;
}

.user-list {
	flex: 1;
}

.device-list-item {
	border: #54545459 solid 2px;
	border-radius: 5px;

	padding: 10px;
	margin-bottom: 3px;
    margin-left: 3px;

    width: 300px;
    height: 150px;

    display: inline-block;
	outline: none;

    transition: transform 0.2s, filter 1s;
    transform: scale(1);
    filter: blur(0px);
}
.device-list-item button.close {
	font-size: 1.5rem;
	visibility: hidden;
    position: absolute;

	background-color: rgba(0,0,0,0);

	top: 5px;
	right: 5px;
	padding: 0px;

	border-radius: 5px;
	border: none;

	width: 1.5rem;
	line-height: 1.5rem;

	text-align: center;
	outline: none;
}

.device-list-item:hover:not(.device-list-active) {
	transition: scale 0.2s, filter 1s;
	transform: scale(1.02);
	filter: blur(0px);
	z-index: 98;
	background-color: #fbbd08;
	/*box-shadow: 0px 0px 6px 0px #545454;*/
}

@media (max-width: 575px) {
	.device-list-active {
		transform: scale(1.02) !important;
	}
}

.device-list-active {
	transform: scale(1.1);
	/*box-shadow: 0px 0px 56px -4px #000000 !important;*/
	z-index: 99;
	background-color: #fbbd08;
    width: auto;
    height: auto;
    position: absolute;
    max-width: 512px;
    max-height: 712px;
}
.device-list-active button.close {
	visibility: visible;
}
.device-list-active .extension-badge {
	//visibility: hidden;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700 !important;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    color: #fff;
    background-color: #6c757d;
}

.device-list-transparent {
	filter: blur(2px);
    transition: filter 1s;
}

.navigation-left {
	background: #545454;
	color: lightgray;
	font-size: 16px;
	min-width: 150px;
}

.navigation-logo-container img {
	height: 48px;
	filter: invert(1);
}
.navigation-logo-container hr {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.navigation-logo-container {
	margin: 10px;
}

.phrase {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.phrase span {
	display: block;
	color: #fff;;
}


.device-list-item-name {
	font-size: 18px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden !important;
	width: 205px;
	margin-left: 5px;
}

.device-list-item-response {
	display: block;
	margin: 15px;
	background-color: white;
}

.device-list-item-desc {
	margin: 15px 15px;
}

.device-list-item hr {
	color: #54545459;
	border-bottom: #54545459 solid 1px;
}

.device-list-item-timer {
	display: block;
}

.device-list-active .device-list-item-icon,
.device-list-item:hover .device-list-item-icon{
	filter: grayscale(0);
}

img.device-list-item-icon {
	height: 64px;
	border: #54545459 solid 2px;
	border-radius: 5px;
	filter: grayscale(1);
}

.main-container {
	flex: 1 1 auto;
	box-shadow: inset 1px 0px 5px 0px #795548;
	background-color: #fbbd08;
}

.main-container > div.row {
	margin: 10px;
    display: flex;
}

.ant-avatar {
	background: #545454 !important;
	vertical-align: bottom;
}
.user-avatar-container {
	width: 100%;
	margin-top: 3px;
}

input[name="smsNumber"] {
	width: 30% !important;;
}
input[name="smsText"] {
	width: 60% !important;
}
button.ant-btn-primary{
	width: 10% !important;
}